<jnlp spec="$jnlpspec" codebase="$$codebase" href="$outputFile">
  <information>
    <title>Alertscape Management Portal</title>
    <vendor>Alertscape Technologies</vendor>
    <homepage href="alertscape.com"/>
    <description>Alertscape Browser</description>
    <icon href="as_logo2_64.png" />
  </information>

  <security>
    <all-permissions/>
  </security>

  <resources>
    <j2se version="1.6+"/>

     $dependencies
  
  </resources>
  <application-desc main-class="$mainClass" >
    $params
  </application>
</jnlp>
